extends layout

block content
  h1= title
  p Your example Webhook is up and running! 
  p This example supports requests to <pre>POST <a href="http://localhost:3000/sms">/sms</a></pre> and assumes you will go online in one line with <a href="https://ngrok.com/">ngrok</a>
  p: a(href="https://github.com/thomas-ngrok/ngrok-example-twilio-sms-webhook/README.md") To continue with the example, pick back up in the instructions.
